<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>

    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-10'>
        <input id="filterInput" type='text' [(ngModel)]='listFilter' />
        <input id="descCheckbox" type="checkbox" [checked]='descriptionsVisible' (change)='toggleDescriptionVisibility($event.target.checked)' /><label for="descCheckbox">show descriptions</label>
        <button type="submit" class="btn btn-primary" [routerLink]="['/tasks', 0]">New task</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <h4>Filtered by: {{listFilter}} </h4>
      </div>
    </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='tasks && tasks.length'>
        <thead>
          <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let task of filteredTasks' [routerLink]="['/tasks', task.id]" class="task-item">
            <td>{{ task.id }}</td>
            <td>
              {{ task.name }}
              <div *ngIf='descriptionsVisible'><i>{{ task.description }}</i></div>
            </td>
            <td>{{ task.done }}
              <tl-status-display [status]='task.done'></tl-status-display>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>